{% extends 'base.html' %}
{% block content %}
  <table class="table container mt-5 table-danger">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Password</th>
        <th scope="col">Profile Picture</th>
        <th>Edit/Remove</th>
      </tr>
    </thead>
    <tbody>
      {% for val in query %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td>{{ val.name }}</td>
          <td>{{ val.email }}</td>
          <td>{{ val.password }}</td>
          {% if val.profile_pic %}
            <td>
              <img src="{{ val.profile_pic.url}}" alt=""  width="150px" height="150px" style="background-repeat: no-repeat;object-fit: cover;"/>
            </td>
          {% else %}
            <td>No Images</td>
          {% endif %}

          <td>
            <a href="{% url 'update' val.email %}">Update</a>
            <a href="{% url 'delete' val.email %}">Delete</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
