{% extends 'base.html' %}
{% block content %}
<table class="table container mt-5 table-danger">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Password</th>
        <th>Edit/Remove</th>
      </tr>
    </thead>
    <tbody>
     {% for val in query %}
     <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{val.name}}</td>
        <td>{{val.email}}</td>
        <td>{{val.password}}</td>
        <td> <a href="{% url "update" val.email %}">Update</a>
            <a href="{% url "delete" val.email %}">Delete</a></td>
       


      </tr>
     {% endfor %}
     
    </tbody>
  </table>
{% endblock content %}